[Unit]
Description=Start x11vnc at boot time
After=display-manager.service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -display :0 -nopw -forever -shared -rfbport 5900
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

