[Unit]
Description=NoMachine First Boot Setup
After=network.target
Before=nxserver.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nomachine-setup.sh

[Install]
WantedBy=multi-user.target

